BasedOnStyle: Google
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignEscapedNewlinesLeft: true
AlignOperands: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
BraceWrapping : {
    AfterClass : true,
    AfterControlStatement : false,
    AfterEnum : false,
    AfterFunction : true,
    AfterNamespace : false,
    AfterObjCDeclaration : true,
    AfterStruct : true,
    AfterUnion : true,
    BeforeCatch : false,
    BeforeElse : false,
    IndentBraces : false,
}
BreakBeforeBraces: Custom
BreakBeforeBinaryOperators: None
# BreakBeforeInheritanceComma: false
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeComma
BreakStringLiterals: false
ColumnLimit: 0
ConstructorInitializerAllOnOneLineOrOnePerLine: false
Cpp11BracedListStyle: true
FixNamespaceComments: true # New in 5.0
IncludeBlocks: Preserve
IndentCaseLabels: false
IndentWidth: 4
IndentWrappedFunctionNames: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
ObjCSpaceAfterProperty: false
PenaltyBreakBeforeFirstCallParameter: 10000 # Arbitrarily high
PointerAlignment: Left
ReflowComments: false
SortIncludes: false
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
UseTab: Never